*

.titleBox {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title1, .title2 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0;
}

.point {
  color: #e8490a;
}

