@value makerWhite, makerOrange, makerBlack from '../../common/colors.css';

.header {
  width: 100%;
  background: makerOrange;
  text-align: center;
  padding-top: 0.5em;
  color: makerWhite;
  position: relative;
}

.logout {
  position: absolute;
  right: 1em;
  top: 1em;
  background: none;
  outline: 0;
  border: 0;
  color: makerWhite;
  font-weight: bold;
  cursor: pointer;
}

.logout:hover {
  font-weight: 900;
}

.logo {
  width: 3em;
}

.title {
  margin: 0;
  color: makerWhite;
}

.title.white {
  color: makerOrange;
}

.header.white {
  background: makerWhite;
  color: makerOrange;
}

.logout.white {
  color: makerBlack;
}

.logout.white:hover {
  color: makerOrange;
}