.maker {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
}

@media screen and (max-width: 62rem) {
  .container {
    flex-direction: column;
  }
}