@value makerWhite, makerGrey from '../../common/colors.css';

.editor {
  flex-basis: 50%;
  width: 100%;
  text-align: center;
  background-color: makerWhite;
  border-right: 1px solid makerGrey;
  padding: 0.5em 2em;
}